@charset "UTF-8";
section {
  background-color: #eaeaea; }

.responsive-img {
  max-width: 100%;
  height: auto;
  display: block; }

.fancybox-skin {
  position: relative;
  background: #29b2fe;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.div-bar-blue {
  width: 100%;
  height: 3px;
  background-color: #29b1fd; }

.border-top-blue {
  border-top: 3px solid #29b1fd; }

.pad-top-none {
  padding-top: 0; }

.pad-top-sm {
  padding-top: 10px; }

.pad-top-med {
  padding-top: 25px; }

.pad-top-lg {
  padding-top: 50px; }

.pad-bottom-none {
  padding-bottom: 0; }

.pad-bottom-sm {
  padding-bottom: 10px; }

.pad-bottom-med {
  padding-bottom: 25px; }

.pad-bottom-lg {
  padding-bottom: 50px; }

.pad-left-none {
  padding-left: 0; }

.pad-left-sm {
  padding-left: 10px; }

.pad-left-med {
  padding-left: 25px; }

.pad-left-lg {
  padding-left: 50px; }

.pad-right-none {
  padding-right: 0; }

.pad-right-sm {
  padding-right: 10px; }

.pad-right-med {
  padding-right: 25px; }

.pad-right-lg {
  padding-right: 50px; }

.margin-bottom-none {
  margin-bottom: 0; }

.margin-bottom-sm {
  margin-bottom: 10px; }

.margin-bottom-med {
  margin-bottom: 25px; }

.margin-bottom-lg {
  margin-bottom: 50px; }

.section-title p {
  width: 70%;
  margin: 0 auto;
  line-height: 1.7;
  text-transform: none; }

.content-right {
  text-align: right; }

.content-left {
  text-align: left; }

.content-center {
  text-align: center; }

.navbar-brand img {
  height: 80px;
  cursor: pointer; }

.navbar-brand {
  float: left;
  height: 80px;
  padding: 0;
  font-size: 18px;
  line-height: 20px; }

#break-line h2 {
  letter-spacing: 0.1em; }
  @media (max-width: 768px) {
    #break-line h2 {
      font-size: 20px; }
      #break-line h2 .cloud-logo {
        display: block;
        text-align: center; } }

@media (max-width: 480px) {
  .section-title h2, .section-title h3 {
    font-size: 22px; } }
.desaturate:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in; }

.navbar .navbar-nav > li > a {
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  color: #f6f6f6;
  letter-spacing: 0.9px; }

.navbar .navbar-nav > li > a.cart .btn {
  padding: 10px !important;
  margin-top: -8px; }

a.header-phone {
  font-weight: 100; }

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 12px -15px; } }
.top-footer .about img {
  height: 60px;
  margin-bottom: 25px; }

#about_davo .container {
  background: #f4f4f4 !important; }
#about_davo .main-content {
  padding: 50px 0; }
#about_davo .section-title {
  text-align: left;
  padding-bottom: 0px; }
  @media (max-width: 767px) {
    #about_davo .section-title {
      text-align: center; } }
#about_davo .fb-page {
  -moz-box-shadow: 0px 0px 8px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 0px 0px 8px rgba(68, 68, 68, 0.6);
  box-shadow: 0px 0px 8px rgba(68, 68, 68, 0.6);
  border: 1px solid #666666;
  margin-bottom: 10px; }
#about_davo .feature-video {
  margin-bottom: 20px; }
  #about_davo .feature-video a img {
    max-width: 100%;
    height: auto;
    display: block; }
    @media (max-width: 767px) {
      #about_davo .feature-video a img {
        display: inherit; } }
  #about_davo .feature-video h4 {
    font-size: 22px;
    line-height: 35px;
    color: #0b7bba;
    padding-bottom: 20px; }
    @media (max-width: 480px) {
      #about_davo .feature-video h4 {
        font-size: 18px; } }
    @media (max-width: 767px) {
      #about_davo .feature-video h4 a {
        margin: auto;
        text-align: center;
        display: inherit; } }
  @media (max-width: 767px) {
    #about_davo .feature-video {
      text-align: center; } }
#about_davo .video-library {
  margin-bottom: 30px; }
  #about_davo .video-library a {
    margin-right: 10px; }
    @media (max-width: 550px) {
      #about_davo .video-library a img {
        width: 100px; } }
    @media (max-width: 480px) {
      #about_davo .video-library a {
        margin-bottom: 10px;
        display: block; } }
  @media (max-width: 767px) {
    #about_davo .video-library {
      text-align: center; } }
#about_davo .social-links h5 {
  color: #434343;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px; }
#about_davo .social-links a {
  text-align: center;
  display: inline-block;
  padding: 10px 10px; }
  #about_davo .social-links a span {
    line-height: 20px; }
  @media (max-width: 767px) {
    #about_davo .social-links a {
      float: none; } }
  @media (max-width: 480px) {
    #about_davo .social-links a img {
      max-width: 35px;
      height: auto; } }
@media (max-width: 767px) {
  #about_davo .social-links {
    text-align: center; } }
@media (max-width: 767px) {
  #about_davo .facebook-feed {
    display: none; } }
#about_davo .social-links a img {
  max-width: 75px;
  height: auto; }

#services .container {
  background-color: #FFFFFF; }
#services .service {
  padding: 15px; }
  #services .service .inner {
    padding: 20px; }
    @media (max-width: 500px) {
      #services .service .inner {
        padding: 10px; } }
#services .row.service-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px; }
#services .h3, #services h3 {
  font-size: 18px; }

section#davo_testimonials .container {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%; }
section#davo_testimonials .news-details {
  min-height: 130px; }
section#davo_testimonials .news-single {
  background-color: #fff;
  width: 100%;
  padding-bottom: 20px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: 0 0 15px rgba(68, 68, 68, 0.4);
  -moz-box-shadow: 0 0 15px rgba(68, 68, 68, 0.4);
  box-shadow: 0 0 15px rgba(68, 68, 68, 0.4); }
section#davo_testimonials .section-title p {
  font-size: 16px;
  color: #333; }

#sign-up {
  padding: 40px 0 10px 0;
  background: #29b1fd;
  color: #FFFFFF; }
  #sign-up .pitch {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 40px;
    padding: 10px 0;
    margin-right: 30px;
    color: #FFFFFF; }
    @media (max-width: 991px) {
      #sign-up .pitch {
        text-align: center;
        margin-right: 0; } }
    @media (max-width: 480px) {
      #sign-up .pitch {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        margin-right: 0; } }
  #sign-up .foot-msg {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: .03em; }
  #sign-up .btn {
    padding: 20px 30px;
    font-size: 45px;
    color: #FFFFFF;
    background: #0b7bba;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    text-transform: none;
    font-weight: 400; }
    #sign-up .btn:hover {
      background: #045b8c; }
    @media (max-width: 991px) {
      #sign-up .btn {
        font-size: 35px;
        margin-bottom: 20px; } }
    @media (max-width: 480px) {
      #sign-up .btn {
        margin-left: 0;
        font-size: 20px;
        padding: 10px 20px; } }
  @media (max-width: 480px) {
    #sign-up .terms .foot-msg {
      text-align: center;
      line-height: normal; } }
  @media (max-width: 991px) {
    #sign-up .cta {
      text-align: center; } }

section#products .container {
  background-color: #FFFFFF; }
section#products .section-intro {
  font-size: 16px;
  line-height: normal; }
section#products .news-single {
  background-color: #fff;
  width: 100%;
  padding-bottom: 20px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #CCCCCC; }
section#products .news-single .news-header {
  background-color: #29b1fd;
  padding: 25px;
  font-size: 28px;
  line-height: 30px;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
  color: #FFFFFF; }
  @media (max-width: 1199px) and (min-width: 991px) {
    section#products .news-single .news-header {
      font-size: 20px; } }
section#products .news-single .news-title h3, section#products .news-single .news-title h3 {
  text-transform: capitalize;
  height: 45px; }
section#products .news-single .product-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  @media (min-width: 1199px) {
    section#products .news-single .product-list {
      min-height: 290px; } }
  @media (min-width: 992px) and (max-width: 1198px) {
    section#products .news-single .product-list {
      min-height: 350px; } }
  section#products .news-single .product-list li {
    margin-bottom: 15px; }
  section#products .news-single .product-list li {
    padding-left: 1em;
    text-indent: -.7em; }
  section#products .news-single .product-list li:before {
    content: "• ";
    color: #29b1fd;
    /* or whatever color you prefer */ }

section#break-line .container {
  background-color: #FFFFFF;
  padding: 50px 0; }
section#break-line h2 {
  font-weight: 300;
  font-size: 30px;
  color: #29b1fd;
  text-align: center;
  padding-bottom: 0; }

#support .container {
  border-top: 1px solid #EEE;
  background-color: #f6fcfe; }
#support .section-title {
  margin-bottom: 40px !important; }
  #support .section-title p {
    color: #333;
    font-size: 16px;
    line-height: 25px; }
#support .supportTable {
  margin-bottom: 50px;
  display: table; }
#support .supportRow {
  display: table-row;
  margin-bottom: 10px; }
  @media (max-width: 768px) {
    #support .supportRow {
      text-align: center;
      display: block;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px; } }
#support .supportCell {
  color: #333;
  display: table-cell;
  margin-bottom: 20px;
  vertical-align: middle; }
  #support .supportCell p {
    top: 50%;
    color: #333; }
  @media (max-width: 768px) {
    #support .supportCell {
      margin: auto;
      margin-bottom: 30px; } }
#support .support-documents {
  display: none; }
#support .support-doc-title {
  text-align: center; }

@media (max-width: 768px) {
  .pdf-txt.supportCell {
    width: 250px; } }
.responsive-img {
  max-width: 100%;
  height: auto;
  display: block; }

.fancybox-skin {
  position: relative;
  background: #29b2fe;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.panel-heading {
  background: #fff;
  list-style: none;
  border-top: 7px solid #29b1fd;
  margin: 0;
  padding: 0; }

.panel-default > .panel-heading {
  color: #333;
  background-color: #FFFFFF;
  border-color: #29b1fd; }

.panel-title {
  padding: 15px;
  font-size: 16px;
  color: inherit; }

.main-content {
  padding: 30px 0; }

.modal-info h2.section-title {
  background-color: #29b2fe;
  color: #FFFFFF;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px; }
@media (max-width: 768px) {
  .modal-info .section-title {
    font-size: 20px; } }

.modal-inner {
  padding: 0 25px; }
  .modal-inner p.intro {
    padding-top: 10px; }
  .modal-inner .modal-image {
    margin-bottom: 25px; }
  .modal-inner h4 {
    margin-bottom: 25px;
    line-height: 45px; }
  .modal-inner li {
    margin-bottom: 10px; }
  .modal-inner .franchise-page-images {
    text-align: center; }
    .modal-inner .franchise-page-images img {
      display: inline-block;
      margin: 0 10px;
      max-width: 30%; }

.faq-list li {
  margin-bottom: 20px; }
  .faq-list li strong {
    display: block;
    margin-bottom: 10px; }

footer {
  background: #505050; }
  footer .top-footer #contact a:before {
    content: url(""); }
  footer .top-footer #contact a i {
    position: relative;
    top: 0px;
    cursor: pointer; }
  footer .top-footer .footer-links li {
    color: #EEEEEE; }
    footer .top-footer .footer-links li a {
      color: #EEEEEE; }
  footer .top-footer h4 {
    color: #f6f6f6;
    padding-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.8px; }
  footer p {
    font-size: 12px;
    line-height: 20px;
    color: #EEEEEE;
    letter-spacing: 0.8px; }
  footer .copyright {
    text-align: center;
    padding: 20px 0;
    background: #404040;
    color: #EEEEEE; }
