.faq-list {
  padding: 20px 100px;
  @media screen and (max-width: 768px) {
    padding: 20px 40px;
  }
     li {
         margin-bottom: 20px;
         strong {
             display: block;
             margin-bottom: 10px;
         }
     }
}