// Footer updates
footer {
  background-color: #e6f5fd;
  .top-footer {
    .container {
      background: #f7f7f7;
    }
  }
  .top-footer {
    #contact a {
      color: #7e7f7f;
      &:before {
        content: url("");
      }
      i {
        position: relative;
        top: 0px;
        cursor: pointer;
      }
    }
    .footer-links li {
      color: #7e7f7f;
      a {
        color: #7e7f7f;
      }
    }

    h4 {
      color: #6c6c6c;
      padding-bottom: 30px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
    }
  }
  p {
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    letter-spacing: 0.8px;
  }
  .copyright {
    text-align: center;
    padding: 0;
    background: #e6f5fd;
    .container {
      text-align: center;
      padding: 20px 0;
      background: #FFFFFF;
      color: #cccccc;
    }

  }
  .about {
    padding-left: 40px;
  }
}