.top-header {
  background: #1f1f1f;
  color: #a4a4a4;
  z-index: 5;
  position: relative;
}
nav.navbar {
  padding: 10px 0;
  margin: 0;
  background-color: $blue;
}
.navbar .navbar-nav > li > a:hover {
  color: #666666;
}
.navbar .navbar-nav > li.active > a {
  color: #4a4a4a;
}
.navbar-default .navbar-nav >.active > a, .navbar-default .navbar-nav >.active > a:focus, .navbar-default .navbar-nav >.active > a:hover {
  background: none !important;
  color: #666666;
}
.navbar .navbar-nav > li > a {
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  color: #f6f6f6;
  letter-spacing: 0.9px;
}
.navbar .navbar-nav > li > a.cart .btn {
  padding: 10px !important;
  margin-top: -8px;
}
a.header-phone {
  font-weight: 100;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 12px -15px;
  }
}