.responsive-img {
  max-width: 100%;
  height: auto;
  display:block;
}
.fancybox-skin {
  position: relative;
  background: #29b2fe;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

// accordian overwrites
.panel-heading {
  background: #fff;
  list-style: none;
  border-top: 7px solid #29b1fd;
  margin: 0;
  padding: 0;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #FFFFFF;
  border-color: #29b1fd;
}
.panel-title {
  padding: 15px;
  font-size: 16px;
  color: inherit;
}
.main-content {
  padding: 30px 0;
}

