.responsive-img {
  max-width: 100%;
  height: auto;
  display:block;
}
.fancybox-skin {
  position: relative;
  background: #29b2fe;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
