section#products {
  .container {
    background-color: $white;
  }
  //background-color: $grey;
  .section-intro {
    font-size: 16px;
    line-height: normal;
  }
  .news-single {
    background-color: #fff;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid $med-grey;
  }
  .news-single {
    //@include box-shadow(0,0,15px,rgba(68,68,68,0.4));
    .news-header {
      background-color: $blue-med;
      padding: 25px;
      font-size: 28px;
      line-height: 30px;
      text-transform: capitalize;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      text-align: center;
      color: $white;
      @media (max-width: 1199px) and (min-width:991px ) {
        font-size: 20px;
      }
    }
    .news-title h3, .news-title h3 {
      text-transform: capitalize;
      height: 45px;
    }
    .news-title {
      padding-bottom: 0px;
    }
    .product-list {
      list-style: none;
      padding:0;
      margin:0;
      @media (min-width: 1199px) {
        min-height:250px;
      }
      @media (min-width: 992px) and (max-width: 1198px) {
        min-height:320px;
      }
      li {
        margin-bottom: 10px;
      }
      li {
        padding-left: 1em;
        text-indent: -.7em;
      }
      li:before {
        content: "• ";
        color: $blue; /* or whatever color you prefer */
      }
    }
  }
}
.testimonials {
  .news-title p {
    margin-bottom: 10px;
    @media (max-width: 1170px) {
      height: 40px;
    }
  }
  .news-single {
    margin-bottom: 15px;
    min-height: 350px;
    @media (min-width: 768px) and (max-width: 1199px) {
      min-height: 420px;
    }
    @media (max-width: 640px) {
      min-height: 450px;
    }
  }
  @media (max-width: 640px) {
    .news-title h3, .news-title h3 > a {
      font-size: 14px;
      text-transform: uppercase;
      color: #323232;
    }
  }
}
