#sign-up {
  padding: 40px 0 10px 0;
  background: $blue;
  color: $white;
  .pitch {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 40px;
    padding: 10px 0;
    margin-right: 30px;
    color: $white;
  }
  .foot-msg {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 40px;
    text-align: center;
    color: $white;
    letter-spacing: .03em;
  }
  .btn {
    padding: 20px 30px;
    font-size: 45px;
    color: $white;
    background: $med-blue;
    border: 2px solid $white;
    border-radius: 8px;
    text-transform: none;
    font-weight: 400;
    &:hover {
      background: $dk-blue;
    }
  }
}