#sign-up {
  padding: 40px 0 10px 0;
  background: $blue;
  color: $white;
  .pitch {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 40px;
    padding: 10px 0;
    margin-right: 30px;
    color: $white;
    @media ( max-width: 991px) {
      text-align: center;
      margin-right: 0;
    }
    @media ( max-width: 480px) {
      text-align: center;
      font-size: 25px;
      line-height: 30px;
      margin-right: 0;
    }
  }
  .foot-msg {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 40px;
    text-align: center;
    color: $white;
    letter-spacing: .03em;
  }

  .btn {
    padding: 20px 30px;
    font-size: 45px;
    color: $white;
    background: $med-blue;
    border: 2px solid $white;
    border-radius: 8px;
    text-transform: none;
    font-weight: 400;
    &:hover {
      background: $dk-blue;
    }
    @media ( max-width: 991px) {
      font-size: 35px;
      margin-bottom: 20px;
    }
    @media ( max-width: 480px) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
  .terms {
    @media ( max-width: 480px) {
      .foot-msg {
        text-align: center;
        line-height: normal;
      }

    }
  }
  @media ( max-width: 991px) {
    .cta {
      text-align: center;
    }
  }
}