section#davo_testimonials {
  background-color: #f4f4f4;
  .news-details {
    min-height: 130px;
  }
  .news-single {
    background-color: #fff;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid $med-grey;
  }

}

