section#davo_testimonials {

  .container {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    position: relative;
    &.main-content {
      padding: 0px;
    }
    .carousel-overlay {
      position: absolute;
      bottom:0;
      z-index: 1000;
      width: 100%;
      background-color: rgba(255,255,255,0.7);
      padding: 15px 0 30px;
      h2 {
        color: #4a4a4a;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
      }
    }
  }
  .news-details {
    min-height: 130px;
  }
  .news-single {
    background-color: #fff;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid $med-grey;
    @include box-shadow(0,0,15px,rgba(68,68,68,0.4));
  }
  .section-title {
    p {
      font-size: 16px;
      color: #333;
    }
  }
  @media ( max-width: 768px) {
    .content-right {
      text-align: center;
      margin-bottom: 10px;
    }
    .content-left {
      text-align: center;
    }
    .content-center {
      text-align: center;
      h2 {
        font-size: 18px;
      }
    }
  }

}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  z-index: 1001;
  left: 45%;
  bottom: -30px;
  @media (max-width: 480px) {
    left: 35%;
  }
}
.owl-theme .owl-nav {
  display: none;
}

.btn-signup {
  color: #fff;
  background-color: $blue;
  border-color: $blue;
}


